<h1/>Photos<h1>
    
	
<%= link_to "Click here to add a new picutre", new_photo_url %>

<ul>
    <% @photos.each do |photo| %>
    <li><%= link_to photo.title, photo_url(photo.id) %>
    |
    <%= link_to "Edit", edit_photo_url(photo.id) %>
    |
    <%= link_to "Delete", photo_url(photo.id), :method => "delete", 
    :data => { :confirm => "Hold up, yah?" } %>

    </li>
    
<% end %>
</ul>



